<ion-header>
    <ion-navbar color="black">
        <button ion-button menuToggle color="light">
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title color="black">Your Cart</ion-title>
        <ion-buttons right>
            <button ion-button icon-only (click)="goToHome()">
                <ion-icon name="home"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
    <!--
    <ion-toolbar color="Black">
    </ion-toolbar>
-->
</ion-header>

<!--
<ion-content padding>
    <ion-list>
        <ion-item *ngFor="let item of items">
            <ion-label>{{item.name}}</ion-label>
            <ion-item *ngIf="item.coffee" ion-text color="black">Grind Type: {{item.grindType}}</ion-item>
            <p *ngIf="item.coffee" ion-text color="black"><strong>Bag Size: {{item.bagSize}}</strong></p>
            <p ion-text color="black"><strong>Quantity: {{item.Quantity}}</strong></p>
        </ion-item>
    </ion-list>
    </ion-content>
-->


<ion-content padding>
    <ion-label>
        <h2>Review Your Cart</h2>
    </ion-label>
    <!--Name Input-->
    <!--Name Display-->
    <ion-card *ngFor="let item of items">
        <ion-card-header>
            <b>{{item.name}}</b>
        </ion-card-header>
        <hr>
        <ion-card-content>Unit Price: R {{item.uPrice}}</ion-card-content>
        <ion-card-content *ngIf="item.coffee">
            Grind Type: {{item.grindType}}<br>Bag Size: {{item.bagSize}}
        </ion-card-content>
        <ion-card-content *ngIf="item.dripFilterCustom">
            Coffee Type: {{item.dripFilterCoffee}}<br>
        </ion-card-content>
        <ion-card-content *ngIf="item.emptyDripFiltersCustom">
            Pack Size: {{item.emptyDripFilters}}<br>
        </ion-card-content>
        <ion-card-content>
            Quantity: {{item.Quantity}}
            <br><b>Price: R {{item.dynamicPrice}}</b>
        </ion-card-content>

        <!--Buttons Below -->

        <ion-row>
            <ion-col>
                <button ion-button block icon-centr (click)="deleteProduct(item)">
                    Remove
      </button>
            </ion-col>
        </ion-row>
    </ion-card>

    <ion-label>
        <b>Totals</b>
    </ion-label>
    <ion-item>
        <p><strong>Sub Total: R {{subTotal}}</strong></p>
    </ion-item>
    <ion-item>
        <p><strong>Nationwide Shipping: R {{shippingTotal}}</strong></p>
    </ion-item>
    <ion-item>
        <p><strong>Cart Total: R {{cartTotal}}</strong></p>
    </ion-item>
    <form [formGroup]="cartForm">
        <ion-list radio-group [formControl]="cartForm.controls['collectionOption']">
            <ion-label><b>Delivery Options:</b></ion-label>
            <ion-item>
                <ion-label>Delivery</ion-label>
                <ion-radio item-left type="radio" value="No" (click)='collectionOption(cartForm.value.collectionOption, "No")'></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label>Collection / Prior Arrangement:</ion-label>
                <ion-radio item-left type="radio" value="Yes" (click)='collectionOption(cartForm.value.collectionOption, "Yes")'></ion-radio>
            </ion-item>
        </ion-list>
        <ion-list hidden>
            <ion-input type="text" value="{{subTotal}}" [formControl]="cartForm.controls['subTotal']"><b>Sub Total: {{subTotal}}</b></ion-input>
            <ion-input type="text" value="{{shippingTotal}}" [formControl]="cartForm.controls['shippingTotal']"><b>Shipping Total: {{shippingTotal}}</b></ion-input>
            <ion-input type="text" value="{{cartTotal}}" [formControl]="cartForm.controls['cartPrice']"><b>Cart Total: {{cartTotal}}</b></ion-input>
        </ion-list>
        <ion-label><b>Delivery Address:</b></ion-label>
        <!--<ion-textarea type="text" placeholder="Update your address in your profile to add it automatically." value="{{(profile3 | async)?.address}}" [formControl]="cartForm.controls['address']"><b>{{(profile3 | async)?.address}}</b></ion-textarea>-->
        <textarea #myInput id="myInput" rows="5" maxLength="500" (keyup)="resize()" value="{{(profile3 | async)?.address}}" placeholder="Update your address in your profile to add it automatically." [formControl]="cartForm.controls['address']"></textarea>
    </form>
    <button type="submit" color="red" ion-button full (click)="completeOrder(items)" (click)="clearCart()" (click)="clearIcon()" (click)="toAfterCart()">Complete Order</button><br>
    <button type="submit" color="gray" ion-button full (click)="clearCart(bottom)" (click)="clearIcon()">Clear Cart</button>
</ion-content>

<!-- Instead of moving it from one DB to another, maybe it's better to submit is as a normal form?-->