<ion-header>
    <ion-navbar color="black">
        <button ion-button menuToggle color="light">
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title color="black">Your Cart</ion-title>
        <ion-buttons right>
            <button ion-button icon-only (click)="goToHome()">
                <ion-icon name="home"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
    <!--
    <ion-toolbar color="Black">
    </ion-toolbar>
-->
</ion-header>

<!--
<ion-content padding>
    <ion-list>
        <ion-item *ngFor="let item of items">
            <ion-label>{{item.name}}</ion-label>
            <ion-item *ngIf="item.coffee" ion-text color="black">Grind Type: {{item.grindType}}</ion-item>
            <p *ngIf="item.coffee" ion-text color="black"><strong>Bag Size: {{item.bagSize}}</strong></p>
            <p ion-text color="black"><strong>Quantity: {{item.Quantity}}</strong></p>
        </ion-item>
    </ion-list>
    </ion-content>
-->


<ion-content padding>
    <ion-label>
        <h2>Review Your Cart</h2>
    </ion-label>
    <!--Name Input-->
    <!--Name Display-->
    <ion-card *ngFor="let item of items">
        <ion-card-header>
            <b>{{item.name}}</b><br>
        </ion-card-header>
        <hr>
        <ion-card-content *ngIf="item.coffee">
            Grind Type: {{item.grindType}}<br>Bag Size: {{item.bagSize}}
        </ion-card-content>
        <ion-card-content *ngIf="item.dripFilterCustom">
            Coffee Type: {{item.dripFilterCoffee}}<br>
        </ion-card-content>
        <ion-card-content *ngIf="item.emptyDripFiltersCustom">
            Pack Size: {{item.emptyDripFilters}}<br>
        </ion-card-content>
        <ion-card-content>
            Quantity: {{item.Quantity}}
            <br><b>Price: {{item.dynamicPrice}}</b> (R{{item.uPrice}} x {{item.Quantity}})
        </ion-card-content>

        <!--Buttons Below -->

        <ion-row>
            <ion-col>
                <button ion-button block icon-centr (click)="deleteProduct(item)">
                    Remove
      </button>
            </ion-col>
        </ion-row>
    </ion-card>
    <ion-label>
        <p><strong>Cart Total: R{{cartTotal}}</strong></p>
    </ion-label>
    <hr>

    <label>New Items Test Below</label>
    <form [formGroup]="cartForm">
        <ion-list>
            <ion-item>
                <ion-input type="text" value="{{cartTotal}}" [formControl]="cartForm.controls['cartPrice']"><b>{{cartTotal}}</b></ion-input>
                <ion-item *ngFor="let item of items">
                    <ion-input type="text" value="{{item.name}}" [formControl]="cartForm.controls['itemName']">{{item.name}}</ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>Delivery Address (Optional)</ion-label>
                    <ion-textarea lines="4" type="text" value="{{address}}" [formControl]="cartForm.controls['address']">Enter Your Address</ion-textarea>
                </ion-item>
            </ion-item>
        </ion-list>
    </form>
    <label>New Items Above</label>

    <button type="submit" color="red" ion-button full (click)="completeOrder(items)" (click)="clearCart()" (click)="clearIcon()" (click)="toAfterCart()">Complete Order</button><br>
    <button type="submit" color="gray" ion-button full (click)="clearCart(bottom)" (click)="clearIcon()">Clear Cart</button>
</ion-content>

<!-- Instead of moving it from one DB to another, maybe it's better to submit is as a normal form?-->