<ion-header>
    <ion-navbar>
        <ion-title>Contact Us</ion-title>
        <ion-buttons right>
            <button ion-button icon-only (click)="goToHome()">
                <ion-icon name="home"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-list no-lines>
        <ion-item>
            <ion-icon name="ios-mail" item-left></ion-icon>
            <p>E-mail</p>
            <h2>hello@puristcoffee.com</h2>
        </ion-item>
        <ion-item>
            <ion-icon name="ios-call" item-left></ion-icon>
            <p>Contact Number</p>
            <h2>087 822 1102</h2>
        </ion-item>
        <ion-item>
            <ion-icon name="home" item-left></ion-icon>
            <p>Address</p>
            <h2>Block A, Georgian Place Office Park</h2>
            <h2>18 Southway Street, Sandton</h2>
        </ion-item>
        <ion-item>
            <ion-icon name="clock" item-left></ion-icon>
            <p>Hours</p>
            <h2>Weekdays: 8:30 - 4pm CAT</h2>
        </ion-item>
    </ion-list>
</ion-content>