<ion-header>

    <ion-navbar>
        <ion-title>Admin Order List</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-list>
        <ion-item tappable *ngFor="let customerOrder of customerOrders" (click)="openOrderDetails(customerOrder)">
            <b>Order:</b> {{ customerOrder.key }}<br>
            <b>By:</b> {{ customerOrder.name }}
        </ion-item>
    </ion-list>

    <!-- <button ion-button block (click)="openOrderDetails()">Open Details</button> -->


</ion-content>